/* Styling for the text headings in resume and interests page*/

.heading{
    padding-top: 5vh;
}
.navbar{
    background-color: rgba(5, 5, 5, 0.65);
    z-index: 10;
    color: white;
}

.SUBHEADING{
    padding-top: 2vh;
    padding-left: 8vw;
    padding-bottom: 3vh;
}

p{
    padding-left: 11vw;
}

.dropdown-menu:hover{
    display: block;
}
.container {
    background: #f9f9f9;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px;
}