body, html {
    height: 100%;
    background-position: center;
    margin: 0;
}



.IMAGE{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://htqnog.bn.files.1drv.com/y4mGb2djNZ6Bcc_zCJvX7iTM_yxvZ7CnFbbAazLw7frkO3z-N7QXzaQ-xH3b7tBBY8Jdtb9xqw3dAhKPk_auLzoNip0QPTt4k_ttl4F9mD_I_OOMlq27dlxAHHMnBcXagn_tjznO72-TLh0evgWA9-4nKX8dFdi92UPMNVeO12NRyrM96r92cL8z7QWTwhAj-i_oAhPZVggSckzp4mrZVPG2g?width=5312&height=2988&cropmode=none");
    background-size: cover;
    opacity: 1.4;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'EB Garamond', serif;
    font-size: 1vw;
    position: absolute;
    height: 100%;
    width: 100%;
}

#name{
    font-size: 1.3vw;
}


.main_buttons{
    font-size: 5vw;
    horiz-align: center;
    display: table-cell;
    vertical-align: middle;
}

#rightButton{
    padding-right: -9vw;
}
#leftButton{
    padding-left: -9vw;
}

.col-md{
    padding-top: 15vw;
}